.title_menu
{
	font-family:Futura Std Light;
	font-size:36;
	color:#b4c59c;
}

.title_rubrique
{
	font-family:Futura Std Medium;
	font-size:36;
	font-style:bold;
	color:#b4c59c;
}

.lastprojects_preview_title
{
	font-family:Futura Std Medium;
	font-size:14;
	color:#ffffff;
}

.projects_preview_title
{
	font-family:Futura Std Medium;
	font-size:14;
	text-align:center;
	color:#ffffff;
}

.buttons
{
	font-family:Futura Std Medium;
	font-size:12;
	color:#21d799;
}

.index
{
	font-family:Futura Std Medium;
	font-size:12;
	color:#999999;
}

.index_selected
{
	font-family:Futura Std Medium;
	font-size:12;
	color:#21d799;
}

.index_over
{
	font-family:Futura Std Medium;
	font-size:12;
	color:#a1c269;
}

.basic_text
{
	font-family:Calibri;
	font-size:12;
	color:#ffffff;
}

.basic_url
{
	font-family:Calibri;
	font-size:12;
	color:#21d799;
	font-style:bold;
}

.basic_title_text
{
	font-family:Futura Std Medium;
	font-size:14;
	color:#b4c59c;
}