


.elive_panel_tooltip { font-family: Akkurat-Bold; }


.elives_sousmenu_bt { font-family: Akkurat; }

.elives_list_apercu_title { font-family: Akkurat; }
.elives_list_apercu_content { font-family: Akkurat; }