<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="[source path] src/CodeGenerator_Tour.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="http://local.flextrascomponents.com:8080/ComponentDevelopment/code/AdvancedComboBox/Sample/trunk/bin/CodeGenerator_Tour.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROFILE_URL" value="http://local.flextrascomponents.com:8080/ComponentDevelopment/code/AdvancedComboBox/Sample/trunk/bin/CodeGenerator_Tour.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="ACBSamples"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="http://local.flextrascomponents.com:8080/ComponentDevelopment/code/AdvancedComboBox/Sample/trunk/bin/CodeGenerator_Tour.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ACBSamples"/>
<listEntry value="/ACBSamples/[source path] src/CodeGenerator_Tour.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
